#sidebar {
    padding: 10px 0;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    letter-spacing: 1px;
    height: 100%;
    border-radius: 0 20px 20px 0;
    background: rgb(255, 66, 66, 0.1);
    box-shadow: 0px 0px 16px 0px #000;
    transition: all .3s ease;
    z-index: 50;
}

#sidebar ul li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    position: relative;
    justify-content: center;
    transition: all .3s ease;
}

#sidebar ul li a:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    display: none;
    color: #fff;
}

#sidebar ul li:hover {
    cursor: pointer;
}

#sidebar ul li a:hover,
#sidebar ul li a span:hover,
#sidebar ul li a.active {
    background: #ffa3a3;
    border-radius: 5px;
    color: gray;
}

.sidebar ul li a:hover:before,
.sidebar ul li a.active:before {
    display: block;
}

.banner {
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 20px #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .3s ease;
}

.container {
    width: 100%;
    background: #fff;
    transition: all .3s ease;
}

#tableContainer {
    overflow: auto;
}

#table {
    width: 80%;
    text-align: left;
    position: relative;
    border-collapse: collapse;
    box-shadow: 0px 0px 20px #000;
    text-transform: uppercase;
    margin: 10px auto;
}

th,
td {
    padding: 0.25rem;
}

#tableContainer {
    display: flex;
    justify-content: center;
}

.headerItem th {
    background: rgba(128, 128, 128, 0.6);
    color: white;
    position: sticky;
    top: 0;
}

.item {
    background: rgba(128, 128, 128, 0.2);
}

.item:hover {
    cursor: pointer;
    /* background: white; */
    /* color: rgb(255, 66, 66); */
    color: white;
    box-shadow: inset 0px 0px 20px #000;
}

.float {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 2%;
    right: 2%;
    background: rgb(255, 66, 66, 0.75);
    color: #FFF;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 5px #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: all .3s ease-in-out;
}

.float:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 8px #000;
    background: white;
    color: rgb(255, 66, 66);
}

.my-float {
    margin: 23% 28%;
}

@media screen and (max-width: 900px) {
    #HOME {
        margin: 0px;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 689px) {}

@media screen and (max-width:550px) {
    .section_title h3 {
        font-size: 2rem;
    }
    .banner {
        height: 50vh;
    }
}

@media screen and (max-width:475px) {}